<% if !movies.blank? %>
  <%= render partial: 'movie_tile', collection: movies, as: :movie %>
<% else %>
  <h1 class="error">No more movies</h1>
<% end %>

<%= render partial: 'pagination', locals: { page_number: page_number , total_pages: total_pages } %>
