
<div class="genre-div">
  <main class="genre-main">
    <% @data['genres'].each do |genre| %>
      <a class="categories <%= 
      if genre['id'] == params[:id].to_i 
       'current_page'
      elsif params[:id].to_i == 0
          genre['id'] == @selected_genre_id ? 'current_page' : ''
      end
    %>" href="/movies/genre?id=<%= genre['id']%>">
        <p class="genre_name"><%= genre['name'] %></p>
      </a>
    <% end %>
  </main>
  <aside class="genre-aside">
     <%= render partial: "movies", locals: { movies: @movies, page_number: @page_number, total_pages: @total_pages } %>
  </aside>
</div>
