

<h1 class="popular-title">Popular movies</h1>

<div class="popular-movies">
  <%= render partial: "movies", locals: { movies: @movies, page_number: @page_number, total_pages: @total_pages } %>
</div>
