<h2 class="searched-input-movietitle">Results for "<%= params[:movie_title] %>" </h2>

<div class="search-display">
  <% @data["results"].each do |movie_attribute| %>
  <div class="each-movie">
    <a href="/movies/<%= movie_attribute["id"]%>">
      <img class="searched-movie-poster" src="https://image.tmdb.org/t/p/original<%= movie_attribute["poster_path"]%>">
    </a>
  </div>
  <% end %>

</div>


