<h1 class="upcoming-title">Upcoming movies</h1>

<div class="upcoming-movies">
  <%= render partial: 'movies', locals: { movies: @movies, page_number: @page_number, total_pages: @total_pages} %>
</div>

