<%= form_tag '/users/login' do %>
<h1 class="logo">LOGIN</h1>
<div class="form">
  <div class="email">
  <label for="">Email:</label>
  <input name="email" type="text">
  </div>

  <div class="password">
  <label for="">Password:</label>
  <input name="password" type="password">
  </div>

  <button type="submit" class="btn btn-primary">login</button>
<div>
<% end %>