<%= form_tag '/users/sign_up' do %>

  <h1 class="logo">SIGN UP</h1>

  <div class="form">

  <div class="name">
  <label for="">Name:</label>
  <input name="name" type="text">
  </div>

  <div class="email">
  <label for="">Email:</label>
  <input name="email" type="text">
  </div>

  <div class="password">
  <label for="">Password:</label>
  <input name="password" type="password">
  </div>

  <button type="submit" class="btn btn-primary">sign up</button>

  <div>

<% end %>