<h1 class="movie-index-title">Movie world</h1>

<div class="movie-search">
  <%= form_tag '/movies/search_display' do%>
    <input class="movie-inputbox" name="movie_title" type="text">
    <button type="submit" class="btn btn-primary">search</button>
  <% end %>
</div>

