<a href="/movies/index">back</a>

<h3>Upcoming movies</h3>

<% @data["results"].each do |movie| %>
 <a href="/movies/<%= movie["id"]%>?date=<%= movie["release_date"]%>"><img class="movie_poster" src="https://image.tmdb.org/t/p/original<%= movie["poster_path"] %>"></a>
<% end %>

