// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  text-align: center;
  margin: 5% 0;
  color: red;
  font-family: 'Baloo Chettan', cursive;
  font-size: 3.2em;
}

.current-user-name {
  margin: 0 10px;
}

.form {
 text-align: center;
 margin: 8% 0; 
}

.email {
 margin: 20px 0;
}

.password {
 margin: 20px 0;
 margin-right: 30px;
}

body {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), image-url('felix-mooneeram-222805-unsplash.jpg');
  background-size: cover;
}

li {
  list-style: none;
}

.edit-form, .signup-form {
  display: flex;
  margin-left: 30%;
}

.avatar-wrapping {
  width: 250px;
  margin-top: 10%;
  padding: 0 100px;
}

ul {
  padding: 0;
}

#edit, #signup {
  margin-right: 15rem;
  margin-top: 20px;
}
