// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-page-title {
  text-align: center;
  color: red;
  margin: 20px 0;
}

.bookmark-container {
  // text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.bookmark-title {
  width: 250px;
}
.each-bookmark {
  margin-right: 20px;
  margin-top: 20px;
}

.btn, .btn-danger {
  margin-top: 20px;
}